{% extends 'base.html.njk' %}
  {% block title %}Most Liked Fossils{% endblock title %}
  {% block body %}
    <h1>Welcome {{ name }}!</h1>
    <ul>
    {% for fossilName, fossil in fossils %}
    <li>
    <div class="fossil-div">
      <h3>{{ name }}, this is a {{ fossil.name }}</h3>
      <h2>Liked {{ fossil.num_likes }} times.</h2>
      <img src="{{ fossil.img }}" />
    </div>
    </li>
    {% endfor %}
    </ul>

    <form action="/like-fossil">
      <label for="fossil"> Choose a fossil to like:</label>
      <select id="fossil" name="fossils">
        <option value="aust">Australopithecus</options>
        <option value="quetz">Quetzal</options>
        <option value="steg">Stegosaurus</options>
        <option value="trex">Tyrannosaurus Rex</options>
      </select>
      <button type="submit">Submit Like</button>
    </form>
  {% endblock %}



